body{
    background-color: #02000c;
    color: white;
    text-align: center;
    font-family: 'Poppins';
    box-sizing: border-box;
    width: auto;
    height: auto;
}

header{
    width: 90%;
    height: 20%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

section{
    margin: auto;
    margin-top: 20px;
    width: 100%;
}
.portfolio{
    width: 20%;
    height: 100%;
    font-size: 1.50em;
    font-weight: bold;
    text-align: start;
}

#link{
    font-size: 0.8em;
    width: 50%;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
a{
    text-decoration: none;
}
#link a{
    width: 20%;
    color: white;
    padding: 10px;
}
#link a:hover{
    background-color: #ff9900;
    color: #02000c;
}
a#orange{
    color: #ff9900;
}
#lookup{
    width: 15%;
    height: 35px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}
#lookup i{
    display: none;
}
#search{
    width: 75%;
    height: 100%;
    border: none;
    border: 2px solid #ff9900;
    border-radius: 10px;
    font-size: 0.75em;
    background-color: white;
    color: #02000c;
    text-align: start;
    /* float: left; */
}

#section1{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#picture{
    width: 40%;
    margin-left: 40px;
    float: left;
}
#intro{
    font-weight: bolder;
    height: 100%;
    width: 100%;
    margin-top: 70px;
}

.link2{
    border: 2px solid #ff9900;
    border-radius: 15px;
    width: 50%;
    height: 40px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
a.hire{
    width: 50%;
    padding-top: 7px;
    border-radius: 12px;
    background-color: #ff9900;
    color: #02000c;
    font-weight: bold;
    font-size: 1em;
}
a.hire:hover{
    background-color: #333333;
}
#resume{
    background-color: #02000c;
    color: white;
}
#resume:hover{
    background-color: #333333;
}
#about{
    width: 50%;
    height: 50%;
    font-size: 0.8em;
    line-height: 20px;
    font-weight: lighter;
    text-align: center;
    margin: auto;
}
#tools{
    width: 600px;
    margin: auto;
}
.box{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.skill{
    text-align: center;
    font-size: 1.75em;
    font-weight: bolder;
}
#projects{
    margin-top: 30px;
    width: 80%;
    margin: auto;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.sample{
    border-radius: 20px;
    border: 3px solid #ff9900;
    height: 270px;
    width: fit-content;
    overflow: hidden;
}
#landingpage{
    border-radius: 15px;
}

.text{
    height: 80px;
    width: auto;
    font-size: 0.75em;
    margin-top: -20px;
    padding-top: 10px;
    line-height: 15px;
    background-color: #333333;
}
.text:hover{
    background-color: #0b93c9;
}

#contact{
    width: auto;
    height: 250px;
    background-color: #ff9900;
    color: #02000c;
    margin-top: -28px;
}
.icons{
    width: 150px;
    height: 50px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.message{
    width: 200px;
    height: 30px;
    margin: auto;
    display: flex;
    flex-direction: row;
}
#message{
    width: 150px;
    height: 30px;
    background-color:white;
    color: #02000c;
    border: none;
}
footer{
    width: auto;
    height: 70px;
    position: relative;
    font-weight: lighter;
}
@media screen and (max-width: 600px) {
    body{
        background-color: #f1eff3;
        color: #02000c;
        border: 2px solid red;
        width: 100%;
        margin: auto;
        margin-right: -30px;
        overflow-x: hidden;
    }
    header{
        margin: 0;
        font-size: 1em;
        flex-direction: row;
        width: 100%;
    }
    section{
        width: 100%;
        margin: 0;
    }
    .portfolio{
        font-size: 1em;
    }
    #link{
        font-size: 0.6em;
    }
    #link a p{
        
        display: none;
    }
    #link a i{
        display: block;
        color: #333333;
    }
    #lookup{
        width: 18%;
        height: 30px;
        border: none;
    }
    #lookup i{
        margin-top: -10px;
        display: block;
    }
    form{
        display: none;
    }
    #section1{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        margin: 0 ;
    }
    #picture{
        width: 100%;
        margin: 0 auto;
    }
    
    #intro{
        width: 100%;
    }
    #tools{
        width: 100%;
        
    }
    .box{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    #projects{
        width: 100%;
        flex-direction: column;
        height: 100%;
    }
    .sample{
        width: 70%;
        margin: 20px auto;
        height: 100%;
    }
    #landingpage{
        width: 100%;
    }
}